/* ######################################################## */
/*                      RETURN BUTTON                       */
/* ######################################################## */

.return-btn {
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 0.5rem;
    border-radius: 0;
    border: 1px solid var(--light-text);
    color: var(--text);
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1em;
    background-color: var(--bg);
    transition: transform 0.15s ease, color 0.15s ease;
}

.return-btn:hover {
    color: var(--accent);
}

/* ######################################################## */
/*                          HERO                            */
/* ######################################################## */

.section-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.section-hero-image {
    position: absolute;
    inset: 0;
    width: 100%;
    aspect-ratio: 4 / 3;
}

.section-hero-image::after {
    content: '';
    width: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.section-hero-title {
    position: absolute;
    top: 10%;
}

.section-hero-subtitle {
    position: absolute;
    top: 25%;
}